/* ---FONTS--- */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*
outline: 5px solid red;
outline-offset: -5px;
 */

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-conteiner {
  width: 1170px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.title-bold {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.presents-item-title, .assortment-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

/* ---PAGES--- */

/* .main-conteiner>*:not(:last-child) {
  margin-bottom: 80px;
} */

.page-header {
  display: flex;
  width: 1170px;
}

.main-logo {
  margin-top: auto;
  margin-bottom: auto;
}

.main-navigation {
  display: flex;
  width: 1017px;
  margin-left: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation {
  width: 550px;
  line-height: 20px;
}

.navigation-link {
  text-align: center;
}

.phone {
  font-weight: 700;
  margin-right: 10px;
  margin-left: auto;
  line-height: 20px;
}

.user-navigation {
  font-size: 14px;
  line-height: 20px;
}

.navigation-item {
  margin: 0 16px;
}

/* ---MAIN-INDEX--- */

.promo {
  display: flex;
  flex-wrap: wrap;
}

.promo-slider {
  width: 100%;
  display: flex;
  position: relative;
}

.slider-item {
  margin-left: 70px;
  display: flex;
}

.slider-item:not(.slider-item-current) {
  display: none;
}

.promo-desc {
  width: 470px;
}

.promo-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  width: 470px;
}

.promo-image-wrap {
  width: 312px;
  margin-left: 21px;
}

.promo-image-wrap.image {
  display: block;
  margin: 0 auto;
}

.slider-preview-list {
  margin-left: 56px;
}

.slider-preview-item {
  display: flex;
  justify-content: space-between;
}

.slider-preview-item:not(.slider-preview-item-current) {
  display: none;
}

.bg-image {
  width: 100px;
}

.bg-image .image {
  display: block;
  margin: 0 auto;
}

.promo-pagination {
  position: absolute;
}

.slider-buttons-item {
  display: flex;
  position: absolute;
}

.promo-arrow {
  position: relative;
}

.promo-social {
  margin-left: auto;
}

.slider-buttons {
  display: flex;
}

.promo-button {
  width: 38px;
  height: 38px;
  margin-right: ;
}

.promo-pagination {
  display: flex;
  margin-right: auto;
  display: none;
  /* убрал временно - спозиционирую абсолютно */
}

.promo-pagination-item {
  margin-right: 8px;
}

.promo-pagination-button {
  width: 12px;
  height: 12px;
}

.social {
  width: 231px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 24px;
  height: 24px;
  background-color: white;
  margin-right: 16px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-list.social-item {
  margin-left: auto;
}

.button {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #FCFCFC;
  color: inherit;
}

.navigation-link, .phone, .footer-info a, .button, .contacts-content-phone {
  color: inherit;
  text-decoration: none;
}

.presents-title {
  width: 443px;
  margin: 0 auto;
  text-align: center;
}

.presents-list {
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.presents-item {
  display: flex;
  width: 570px;
}

.presents-item-wrap {
  padding: 40px;
  width: 304px;
}

.presents-item-title {
  text-align: start;
}

.presents-item {
  background-color: #FF7799;
}

.presents-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.assortment-item b, .contacts-content-adres, .contacts-content-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.assortment-heading {
  width: 527px;
  margin: 0 auto;
  text-align: center;
}

.assortment-title {
  margin: 0 auto;
}

.assortment-list {
  display: flex;
  justify-content: space-between;
}

.assortment-item {
  width: 270px;
  background-color: #FCFCFC;
  /* position: relative;
  margin-top: 51px;
  display: grid;
  grid-template-columns: 40px 158px 32px 40px;
  grid-template-rows: 133px min-content min-content auto 16px;
  row-gap: 8px;

  ----------ЗАКОМЕНТИЛ КАРТОЧКИ-----------*/
}

.assortment-image {
  display: block;
  margin: 0 auto;
  /* position: absolute;
  top: -51px;
  left: 51px; */
}

.assortment-title {
  margin: 0;
  grid-column: 2/4;
  grid-row: 2/3;
}

.assortment-item p {
  text-align: center;
  margin: 0;
  grid-column: 2/4;
  grid-row: 3/4;
}

.assortment-item b {
  margin-top: 12px;
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: end;
}

.assortment-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  margin-top: 8px;
  justify-self: end;
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: end;
}

.description {
  width: 1170px;
  background-color: tan;
  background-size: 100% auto;
  box-sizing: border-box;
  /* padding: 24px; */
}

.description-wrap {
  background-color: #FCFCFC;
  padding: 56px 40px;
}

.description-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 56px 0;
}

.description-item {
  /* display: flex;
  flex-wrap: wrap; */
}

.description-list {
  /* display: flex; */
  width: 505px;
}

/* .description-list:not(:nth-child(2n)) {
  margin-right: 32px;
}

.description-list:not(:nth-last-child(-n+2)):not(:last-child) {
  margin-bottom: 40px;
} */

.description-image {
  margin-right: 15px;
}

.description-list p {
  margin: 0;
  width: 440px;
}

.news-mailing {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.news {
  width: 570px;
  background-color: white;
  /* background-image: url("../images/background/blog.jpg"); */
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.news p {
  margin: 32px 0 12px 32px;
  max-width: 220px;
}

.news-text {
  display: block;
  margin: 0 0 32px 32px;
  max-width: 303px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.mailing {
  width: 570px;
  background-color: white;
}

.mailing-desc {
  margin: 26px;
  max-width: 506px;
}

.mailing-button, .form-delivery .button, .contacts-content .button {
  background-color: #FF2F63;
  color: #FCFCFC;
}

.delivery {
  background-color: rgb(207, 207, 207);
  /* background-image: url("../images/background/dost.jpg"); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
}

.delivery-desc {
  margin: 167px auto auto 100px;
}

.delivery-title {
  max-width: 333px;
  margin: 0 0 24px 0;
}

.delivery-desc-text {
  width: 371px;
  margin: 0;
}

.delivery-content {
  width: 500px;
  height: 406px;
  background-color: white;
  margin: 64px 64px 64px auto;
}

.form-delivery label {
  line-height: 20px;
  font-weight: 700;
}

.contacts {
  width: 1170px;
  padding: 64px;
  background-color: wheat;
  /* background-image: url(..//images/background/obr-sv.jpg); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.contacts-content {
  width: 343px;
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
}

.contacts-content p {
  font-size: 14px;
  line-height: 20px;
}

/* ---FOOTER--- */

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  column-gap: 24px;
  row-gap: 8px;
  padding: 0;
  margin: 0 200px;
}

.footer-info p {
  margin: 0;
}

.footer-info a {
  font-size: 14px;
  line-height: 20px;
}

.footer-info .footer-info-suppliers {
  font-weight: 700;
}

.copyright {
  width: 207px;
}

.copyright a {
  color: inherit;
}

.copyright p {
  font-size: 12px;
  line-height: 16px;
}

/* ---CATALOG--- */

.main-container {
  flex-grow: 1;
}

.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.breadcrumbs-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.breadcrambs-item {
  margin-right: 28px;
}

.breadcrambs-link {
  color: inherit;
}

.catalog-filter-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
}

.catalog-form {
  width: 807px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-form-group {
  font-size: 14px;
  line-height: 20px;
  background-color: #FEC7D5;
}

.catalog-form .button {
  font-weight: 700;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
}

.pagination-wrap-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.pagination-wrap {
  display: flex;
}

.pagination {
  display: flex;
  margin-left: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 16px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  line-height: 20px;
}
