/* ---FONTS--- */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.text-bold {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.title-bold {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.assortment-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.presents-item, .description, .description-wrap, .news, .mailing, .mailing-wrap, .delivery, .contacts {
  border-radius: 16px;
}

.assortment-item-wrap, .delivery-content, .contacts-content {
  border-radius: 8px;
}

/* ---PAGES--- */

.page-header {
  display: flex;
  position: relative;
}

.main-logo {
  margin-top: 24px;
  margin-bottom: auto;
  cursor: pointer;
}

.main-navigation {
  display: flex;
  margin: 42px 0 42px 16px;
  width: 100%;
  z-index: 3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.main-navigation .phone {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

.site-navigation {
  width: 550px;
  line-height: 20px;
}

.navigation-link {
  text-align: center;
  padding: 8px 16px;
}

.phone {
  font-weight: 700;
  line-height: 20px;
}

.user-navigation {
  font-size: 14px;
  line-height: 20px;
}

.user-navigation .navigation-item {
  margin-left: 18px;
  position: relative;
}

.user-navigation .navigation-link {
  background: #FEC7D5;
  border-radius: 26px;
  position: relative;
}

.navigation-item-user:nth-child(1) .navigation-link {
  background-image: url("../images/vector/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-user:nth-child(2) .navigation-link, .navigation-item-user:nth-child(3) .navigation-link {
  padding-left: 40px;
}

.navigation-item-user:nth-child(2) .navigation-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/vector/union.svg");
  background-repeat: no-repeat;
  top: 9px;
  right: 0;
  bottom: 0;
  left: 17px;
  margin: auto;
}

.navigation-link-cart {
  content: "";
  position: absolute;
  top: 9px;
  left: 16px;
}

.navigation-link:hover, .navigation-link:focus {
  background-color: #FDD6E0;
  border-radius: 26px;
}

.navigation-link:focus {
  outline: 2px solid black;
}

.navigation-link:active {
  background-color: white;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 4px;
  z-index: 2;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.modal-search {
  top: 35px;
  right: 0;
  padding: 24px 16px;
  display: none;
}

input::placeholder {
  color: grey;
  font-size: 16px;
  font-style: inherit;
}

.navigation-link-catalog:hover+.modal-navigation-catalog, .navigation-link-search:hover+.modal-search, .navigation-link-in:hover+.modal-in-form, .navigation-link-basket:hover+.modal-basket-index, .navigation-link-basket:hover+.modal-basket, .navigation-link-search:focus+.modal-search, .navigation-link-in:focus+.modal-in-form, .navigation-link-basket:focus+.modal-basket-index, .navigation-link-basket:focus+.modal-basket {
  display: block;
}

.modal-search .field {
  width: 324px;
  padding: 12px 14px;
}

.modal-basket-index {
  top: 42px;
  right: 0;
  padding: 48px;
  width: 192px;
  display: none;
}

.modal .modal-basket-text {
  display: block;
  text-align: center;
  margin: 0;
}

.modal-in-form {
  padding: 48px;
  top: 35px;
  right: -2px;
  display: none;
}

.modal-in-form .modal-in-text {
  margin-bottom: 31px;
  display: block;
}

.modal-in-form .field {
  padding: 12px 16px;
}

.modal-navigation-catalog {
  position: absolute;
  box-sizing: border-box;
  top: 78px;
  left: 153px;
  width: 138px;
  padding: 16px 0 10px 0;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
  border-radius: 4px;
  background-color: white;
  z-index: 2;
  display: none;
}

.modal-navigation-catalog-list {
  margin-top: 4px;
}

.modal-navigation-catalog-text {
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #2D3440;
  border-bottom: 1px solid #B9B9B9;
  padding-bottom: 12px;
  margin: 0 16px 0 16px;
}

.modal-catalog-link {
  text-decoration: none;
  color: #2D3440;
  font-family: inherit;
  font-size: 14px;
  margin-left: 16px;
}

.modal-navigation-catalog-item {
  padding: 6px 0;
}

.modal-navigation-catalog-item:hover {
  background-color: #FFCBD8;
}

.modal-navigation-catalog-item:focus {
  background-color: #FF4A78;
}

.modal-navigation-catalog-item:active {
  background-color: #FF7799;
}

.in-form-wrap {
  position: relative;
}

.in-form-wrap .modal-in-mailing {
  margin: 0 0 16px 0;
  width: 324px;
}

.in-form-wrap .link-form-wrap {
  margin-top: 12px;
}

.in-form-hints {
  position: absolute;
  bottom: 48px;
  left: 184px;
  display: flex;
  flex-direction: column;
}

.hints {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  text-decoration: none;
}

.hints-text {
  border-bottom: 1px solid black;
}

/* ---MAIN-INDEX--- */

.promo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 82px;
}

.promo-slider {
  width: 100%;
  display: flex;
  position: relative;
}

.slider-item {
  margin-left: 70px;
  display: flex;
}

.slider-item:not(.slider-item-current) {
  display: none;
}

.promo-desc {
  max-width: 470px;
  padding-top: 136px;
}

.promo-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  max-width: 470px;
}

.text-content-desc {
  margin: 25px 0 19px 0;
  font-size: 18px;
  line-height: 24px;
}

.button-promo {
  margin-top: 24px;
  display: inline-block;
}

.promo-image-wrap {
  margin: 22px 0 0 62px;
  position: relative;
}

.promo-image-wrap::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  color: #2D3440;
  border-radius: 50%;
  top: 98px;
  z-index: -1;
}

.promo-image-wrap .image {
  display: block;
}

.slider-preview-list {
  margin-left: 62px;
  display: flex;
}

.slider-preview-item {
  display: flex;
}

.slider-preview-item:not(.slider-preview-item-current) {
  display: none;
}

.bg-image {
  position: relative;
  width: 100px;
  margin-top: 204px;
}

.bg-image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FEC1D0;
  color: #2D3440;
  border-radius: 50%;
  top: 25px;
  opacity: 0.4;
  z-index: -1;
}

.bg-image:first-child {
  margin-right: 41px;
}

.bg-image .image {
  display: block;
  margin: 0 auto;
}

.slider-buttons-item {
  display: flex;
  position: absolute;
  top: 257px;
  left: 542px;
}

.slider-buttons-list:nth-child(2) {
  margin-left: 274px;
}

.promo-arrow {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
}

.promo-arrow:hover {
  background: #FCFCFC;
}

.promo-arrow:hover path {
  fill: #2D3440;
}

.promo-arrow:active {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.promo-arrow:active path {
  fill: #2D3440;
}

.promo-arrow:disabled {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
}

.promo-arrow:disabled path {
  fill: #FCFCFC;
}

.promo-arrow:disabled {
  background: #FCFCFC;
}

.promo-arrow:disabled path {
  fill: #2D3440;
}

.promo-prev::before {
  content: "";
  position: absolute;
  top: 11px;
  bottom: 0;
  left: 13px;
  right: 0;
}

.promo-next::before {
  content: "";
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 14px;
  right: 13px;
  margin: auto;
}

.promo-social {
  margin-left: auto;
}

.slider-buttons {
  display: flex;
}

.promo-button {
  width: 38px;
  height: 38px;
}

.promo-pagination {
  display: flex;
  margin-right: auto;
  position: absolute;
  top: 531px;
}

.promo-pagination-item {
  margin-right: 8px;
}

.promo-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #FCFCFC;
  opacity: 0.3;
}

.promo-pagination-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.promo-pagination-button:active {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.promo-pagination-button-current {
  opacity: 1;
}

.social {
  width: 231px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-item:last-child {
  margin-right: 2px;
}

.social-list.social-item {
  margin-left: auto;
}

.button-social {
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #FDBECE;
}

.button-social:hover {
  background: #2D3440;
}

.button-social:active {
  border: 2px solid #2D3440;
}

.social-icon {
  margin: 0 auto;
  align-self: center;
}

.button {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #FCFCFC;
  color: inherit;
  cursor: pointer;
}

.navigation-link, .phone, .footer-info a, .button, .contacts-content-phone {
  color: inherit;
  text-decoration: none;
}

.presents {
  margin-bottom: 82px;
}

.presents-title {
  width: 443px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.presents-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.presents-item {
  display: flex;
  width: 570px;
}

.presents-item_raspberries {
  background-image: url("../images/background/raspberries.png");
  background-repeat: no-repeat;
  background-position: 374px 28px;
}

.presents-item-wrap {
  padding: 40px 0 35px 40px;
  max-width: 321px;
}

.presents-item-wrap-marshmallows {
  max-width: 294px;
}

.presents-item_marshmallows {
  background-image: url("../images/background/marshmallows.png");
  background-repeat: no-repeat;
  background-position: 331px 19px;
}

.presents-item {
  background-color: #FF7799;
  color: #2D3440;
}

.presents-item-title, .modal-basket-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 1px;
}

.modal-basket-title {
  text-align: start;
}

.presents-item-desc {
  margin: 0;
  margin-bottom: 28px;
}

.text-norm {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-start;
  padding-top: 4px;
}

.contacts-content-adress {
  margin: 8px 0;
  display: block;
}

.contacts-order {
  margin: 25px 0 13px 0;
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
  font-size: 16px;
}

.contacts-time {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts .button-pink-wrap {
  margin-left: -5px;
}

.assortment-heading {
  max-width: 527px;
  margin: 0 auto 55px auto;
  text-align: center;
}

.assortment-list {
  display: flex;
  flex-wrap: wrap;
}

.assortment-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding-top: 51px;
}

.assortment-item:nth-child(4n) {
  margin-right: 0;
}

.assortment-item-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 133px 40px 24px 40px;
  position: relative;
  background-color: #FCFCFC;
  color: #2D3440;
}

.assortment-image {
  position: absolute;
  top: -51px;
  left: 39px;
}

.assortment-title {
  margin: 0 auto;
  align-content: stretch;
  margin-bottom: 8px;
  text-align: center;
}

.assortment-item p {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  align-content: stretch;
  flex-grow: 1;
  color: #565C66;
}

.assortment-item b {
  width: 150px;
}

.assortment-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  justify-self: end;
  align-self: end;
  background-color: #FF2F63;
  border-radius: 50%;
  box-sizing: border-box;
}

.assortment-button path {
  fill: white;
}

.assortment-button:hover path {
  fill: #2D3440;
}

.assortment-button:hover {
  background-color: white;
  border: 2px solid #FF2F64;
}

.assortment-button:active path {
  fill: #565C66;
}

.assortment-button:active {
  background-color: #B9B9B9;
}

.assortment-button:disabled path {
  fill: white;
}

.assortment-button:disabled {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.assortment-catalog {
  margin-bottom: 63px;
}

.description {
  max-width: 1170px;
  background-color: tan;
  background-image: url("../images/background/fon-description.png");
  background-repeat: repeat;
  box-sizing: border-box;
  padding: 24px;
  margin-top: 39px;
  margin-bottom: 81px;
}

.description-wrap {
  background-color: #FCFCFC;
  padding: 57px 40px 56px 40px;
}

.description-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin: 1px 0 55px 0;
}

.description-item {
  display: flex;
  flex-wrap: wrap;
}

.description-list {
  display: flex;
  width: 505px;
}

.description-list:not(:nth-child(2n)) {
  margin-right: 31px;
}

.description-list:not(:nth-last-child(-n+2)):not(:last-child) {
  margin-bottom: 40px;
}

.description-image {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  background-repeat: no-repeat;
}

.description-image_ice-cream {
  background-image: url("../images/vector/ice-cream.svg");
}

.description-image_cow {
  background-image: url("../images/vector/cow.svg");
}

.description-image_leaflet {
  background-image: url("../images/vector/leaflet.svg");
}

.description-image_thermometer {
  background-image: url("../images/vector/thermometer.svg");
}

.description-list p {
  margin: 0;
  width: 441px;
  color: #565C66;
}

.news-mailing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 76px;
}

.news {
  flex-grow: 1;
  margin-right: 30px;
  background-color: white;
  background-image: url("../images/background/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news p {
  margin: 31px 0 12px 32px;
  max-width: 220px;
  color: #565C66;
}

.news-text {
  display: block;
  margin: 0 32px 63px 32px;
  max-width: 303px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.mailing {
  display: flex;
  width: min-content;
  padding: 6px;
  background-color: gray;
  background-image: url("../images/background/mailing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: max-content;
}

.mailing-wrap {
  background-color: white;
  padding: 24px 24px 26px 24px;
}

.mailing-desc {
  margin: 1px 0 0 3px;
  color: #565C66;
}

.mailing-form {
  display: flex;
  margin-top: 42px;
  position: relative;
}

.mailing-form .mailing-email {
  margin-right: 176px;
}

.mailing-email {
  margin: 0 18px 0 3px;
  width: 332px;
}

.button-mailing-email {
  position: absolute;
  bottom: -3px;
  right: -5px;
}

.delivery {
  background-color: rgb(207, 207, 207);
  background-image: url("../images/background/dost.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 80px;
}

.delivery-desc {
  margin: 167px auto auto 100px;
}

.delivery-title {
  max-width: 333px;
  margin: 1px 0 23px 0;
}

.delivery-desc-text {
  width: 371px;
  margin: 0;
  color: #565C66;
}

.delivery-content {
  width: 500px;
  height: 406px;
  background-color: white;
  margin: 64px 64px 64px auto;
  padding: 40px 40px 42px 40px;
  box-sizing: border-box;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.delivery-content-desc {
  margin: 0 0 31px 0;
  color: #565C66;
}

.form-delivery {
  display: grid;
  grid-template-columns: 117px 287px;
  row-gap: 19px;
  column-gap: 16px;
}

.delivery-button {
  margin-left: 1px;
}

.form-label-icon {
  position: relative;
  padding-right: 4px;
}

.info {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 4px;
  margin-left: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../images/vector/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.field {
  margin: 0;
  padding: 12px 16px;
  font: inherit;
  font-weight: 400;
  color: #B9B9B9;
  border: 1px solid gray;
  border-radius: 4px;
  opacity: 0.5;
  width: 100%;
  box-sizing: border-box;
}

.form-delivery-date {
  grid-column: 1/2;
}

.form-delivery-adress {
  grid-column: 1/-1;
}

.link-form-wrap {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 9px;
}

.form-delivery label {
  line-height: 20px;
  font-weight: 700;
}

.form-label {
  margin-bottom: 7px;
}

.contacts {
  position: relative;
  padding: 64px;
  background-color: wheat;
  background-image: url("../images/background/contacts-img.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 16px;
}

.contacts .button-pink-wrap:active~.modal-feedback, .contacts .button-pink-wrap:focus~.modal-feedback {
  display: block;
}

.contacts-content {
  width: 343px;
  box-sizing: border-box;
  background-color: white;
  padding: 40px 40px 36px 40px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.contacts-content-text {
  margin: 0;
  color: #565C66;
  font-size: 16px;
  line-height: 22px;
}

/* ---FOOTER--- */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 48px 0;
}

.page-footer .social-list {
  margin-left: 2px;
  margin-top: -2px;
}

.footer-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  column-gap: 24px;
  padding: 0;
  margin: 0 200px;
}

.footer-info p {
  margin: 0;
  display: grid;
}

.footer-info a {
  font-size: 14px;
  line-height: 20px;
}

.footer-info .footer-info-suppliers {
  font-weight: 700;
}

.footer-info-suppliers {
  position: relative;
}

.footer-info-suppliers::before {
  content: "";
  position: absolute;
  background-image: url("../images/vector/heart.svg");
  background-repeat: no-repeat;
  left: -23px;
  top: 2px;
  width: 15px;
  height: 15px;
}

.copyright {
  width: 207px;
}

.copyright a {
  color: inherit;
}

.copyright p {
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0 0;
}

.button-white {
  padding: 12px 32px;
  display: inline-block;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  margin-left: -4px;
}

.button-white:hover, .pagination-wrap-button:hover {
  background-color: #F3CAD5;
  border-color: #FCFCFC;
}

.button-white:focus, .pagination-wrap-button:focus, .button-white:active, .pagination-wrap-button:active {
  border: 2px solid #2D3440;
}

.button-white:disabled, .pagination-wrap-button:disabled {
  color: #565C66;
  background: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
}

.button-pink {
  padding: 12px 34px;
  display: block;
  color: white;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgb(45 52 64 / 0.1);
  border-radius: 26px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: inherit;
}

.button-pink:hover {
  color: #2D3440;
  background-color: white;
}

.button-pink:focus, .button-pink:active {
  color: white;
  background: #FF2F64;
}

.button-pink:disabled {
  color: #565C66;
  background-color: #B9B9B9;
}

.button-pink-wrap {
  padding: 4px;
  background-color: rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  display: inline-block;
}

.button-pink-wrap:hover {
  background: #FF2F64;
}

.button-pink-wrap:focus, .button-pink-wrap:active {
  background: #2D3440;
  padding: 4px;
}

.button-pink-wrap:disabled {
  background: #FCFCFC;
}

.modal-feedback {
  top: -449px;
  right: -463px;
  padding: 64px 64px 59px 64px;
  display: none;
}

.feedback-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.feedback-mailing:last-of-type .field {
  height: 150px;
}

.feedback-text {
  margin: 0;
  margin-bottom: 31px;
  display: block;
}

.modal-feedback .field {
  width: 442px;
}

.modal-feedback .field {
  padding: 12px 16px;
}

.feedback-mailing {
  margin: 0;
  margin-bottom: 16px;
}

.feedback-mailing:last-of-type {
  margin-bottom: 0;
}

.modal-feedback .button-pink-wrap {
  margin: 23px -7px 2px auto;
}

.modal-feedback .feedback-close {
  position: absolute;
  top: -28px;
  right: -30px;
  cursor: pointer;
}

/* ---CATALOG--- */

.main-container {
  flex-grow: 1;
}

.catalog {
  margin-top: 30px;
  border-bottom: 1px solid #FEC7D5;
}

.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 26px;
}

.breadcrumbs-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 10px;
  right: -19px;
  background-image: url("../images/vector/union-breadcrumbs.svg");
  background-repeat: no-repeat;
  z-index: 2;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 1px;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link {
  border-bottom: 1px solid black;
}

.catalog-filter {
  margin-bottom: 32px;
}

.catalog-filter-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 39px;
}

.catalog-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.catalog-form-group {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  padding: 0;
}

.catalog-form-group:nth-child(2), .catalog-form-group:nth-child(3) {
  margin-left: 24px;
}

.catalog-form-item-list-checkbox .catalog-form-item:nth-child(2) {
  margin-right: 10px;
}

.range {
  background-color: #FEC7D5;
  border-radius: 20px;
  padding: 17px 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #CCA8B5;
  width: 164px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  cursor: pointer;
  width: 4px;
  height: 4px;
  padding: 0;
  box-sizing: content-box;
  background-color: white;
  border: 6px solid #2D3440;
  border-radius: 50%;
}

.range-toggle:hover {
  background-color: #2D3440;
  border: 6px solid white;
}

.range-toggle:active {
  background-color: #2D3440;
  border: 6px solid #2D3440;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -6px;
}

.wrapper-catalog-form-label {
  position: absolute;
  top: -28px;
  left: 54px;
}

.catalog-form-group-title {
  border: none;
  margin: 0 0 8px 16px;
  padding: 0;
}

.catalog-form-wrapper-labels {
  background-color: #FEC7D5;
  border-radius: 20px;
  padding: 8px 16px;
}

.catalog-form-item-list {
  list-style: none;
  margin: 0;
  display: flex;
}

.control {
  padding-left: 24px;
  position: relative;
  cursor: pointer;
}

.control:hover .control-input[type="radio"]+.control-mark {
  border-color: white;
}

.catalog-form-item:not(:nth-last-child(1)) .control {
  margin-right: 16px;
}

.control-input[type="radio"]:checked+.control-mark::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}

.control:hover .control-input[type="radio"]:checked+.control-mark::before {
  background-color: white;
}

.control-input[type="radio"]+.control-mark {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  top: 1px;
  left: 1px;
}

.control-label {
  font-family: inherit;
}

.control-input[type="checkbox"]:not(:checked)+.control-mark {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/vector/check-off.svg");
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.control:hover .control-input[type="checkbox"]+.control-mark {
  background-image: url("../images/vector/check-off-hover.svg");
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/vector/check-on.svg");
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.control:hover .control-input[type="checkbox"]:checked+.control-mark::before {
  background-image: url("../images/vector/check-on-hover.svg");
}

.catalog-form-input {
  width: 25px;
  padding: 0;
  font-family: inherit;
  text-align: center;
  background: transparent;
  border: none;
  margin-left: 4px;
  appearance: textfield;
}

.catalog-form-input[name="max-price"] {
  margin-left: 0;
}

.catalog-form-input::-webkit-outer-spin-button, .catalog-form-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-form .button {
  font-weight: 700;
}

.catalog-form-select {
  border: none;
  background-color: #FEC7D5;
  border-radius: 20px;
  padding: 10px 63px 10px 16px;
  font-family: inherit;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  background-image: url("../images/vector/union-select.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  box-sizing: border-box;
  outline: none;
}

.catalog-form-select:hover {
  background-color: #FDD6E0;
}

.catalog-form-select:focus {
  background-color: #FDCEDA;
  outline: 2px solid #FCFCFC;
}

.catalog-form-label-wrap {
  position: relative;
  cursor: pointer;
}

.button-catalog-form {
  font-family: inherit;
  height: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 51px;
  background-color: #FEC7D5;
  border: 2px solid white;
  margin-left: 26px;
  margin-top: 26px;
  cursor: pointer;
}

.button-catalog-form:hover {
  border: 2px solid #FEC7D5;
  background: #FCFCFC;
}

.button-catalog-form:focus, .button-catalog-form:active {
  border: 2px solid #2D3440;
  background-color: #FEC7D5;
}

.button-catalog-form:disabled {
  border: 2px solid #FDCEDA;
  background: #FEB9CA;
}

.button-catalog-form:disabled span {
  color: #AA7E8F;
}

.pagination-wrap-button {
  position: absolute;
  left: 584px;
  transform: translate(-50%);
  border: 4px solid #F2C7D3;
  padding: 12px 33px;
  border-radius: 26px;
  font-family: inherit;
  font-size: 16px;
  top: 13px;
  cursor: pointer;
}

.pagination-wrap {
  display: flex;
  padding: 26px 0;
  position: relative;
}

.pagination {
  display: flex;
  margin-left: auto;
  margin-right: 33px;
}

.pagination-item {
  position: relative;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  width: 26px;
  height: 26px;
  background-color: transparent;
  text-decoration: none;
  color: #2D3440;
  box-sizing: border-box;
  border-radius: 50%;
}

.pagination-item .pagination-current {
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.pagination-link:hover {
  border: 1px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
}

.pagination-link:active {
  border: 1px solid #2D3440;
  background: rgba(252, 252, 252, 0.3);
}

.pagination-link-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-item-button-prev {
  position: absolute;
  top: 28px;
  right: 181px;
}

.pagination-item-button-next {
  position: absolute;
  top: 28px;
  right: 0px;
}

.pagination-disabled {
  opacity: 0.2;
}

.modal-basket {
  position: absolute;
  right: 0;
  top: 42px;
  width: 441px;
  padding: 48px 48px 43px 48px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 4px;
  display: none;
}

.modal-products-list {
  list-style: none;
  margin: 17px 0 27px 0;
  padding: 0;
  border-bottom: 1px solid #E7E7E7;
}

.modal-products-item {
  display: flex;
  margin-bottom: 24px;
}

.modal-products-item:last-child {
  margin-bottom: 30px;
}

.modal-assortment-title {
  width: 150px;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: start;
}

.modal0text-wrap {
  margin-left: 16px;
}

.modal-text {
  margin-left: 14px;
  margin-right: auto;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  font-family: inherit;
  padding: 0;
  margin-bottom: 5px;
}

.modal-product-desc {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #B9B9B9;
  text-align: start;
}

.modal-assortment-button {
  position: relative;
  width: 16px;
  height: 16px;
  align-self: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal-assortment-button::before, .modal-assortment-button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  border-radius: 20px;
  background-color: black;
  top: 4px;
  left: 1px;
}

.modal-assortment-button::before {
  transform: rotate(45deg);
}

.modal-assortment-button::after {
  transform: rotate(-45deg);
}

.modal-order-wrap {
  display: flex;
  justify-content: space-between;
}

.modal-order-text {
  margin: 0;
}
