/* ---FONTS--- */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

.text-bold {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

/*
outline: 5px solid red;
outline-offset: -5px;
 */

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.page-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.title-bold {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.assortment-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

/* ---PAGES--- */

.main-conteiner>*:not(:last-child):not(.assortment) {
  margin-bottom: 81px;
}

.page-header {
  display: flex;
}

.main-logo {
  margin-top: auto;
  margin-bottom: auto;
}

.main-navigation {
  display: flex;
  max-width: 1017px;
  margin: 42px 0 42px 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation {
  width: 550px;
  line-height: 20px;
}

.navigation-link {
  text-align: center;
}

.phone {
  font-weight: 700;
  margin-right: 10px;
  margin-left: 48px;
  line-height: 20px;
}

.user-navigation {
  font-size: 14px;
  line-height: 20px;
}

.navigation-item {
  margin: 0 16px;
}

/* ---MAIN-INDEX--- */

.promo {
  display: flex;
  flex-wrap: wrap;
}

.promo-slider {
  width: 100%;
  display: flex;
  position: relative;
}

.slider-item {
  margin-left: 70px;
  display: flex;
}

.slider-item:not(.slider-item-current) {
  display: none;
}

.promo-desc {
  max-width: 470px;
  padding-top: 136px;
}

.promo-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  max-width: 470px;
}

.text-content-desc {
  margin: 24px 0 24px 0;
  font-size: 18px;
  line-height: 24px;
}

.button-promo {
  margin-top: 24px;
  display: inline-block;
}

.promo-image-wrap {
  margin: 22px 0 0 62px;
}

.promo-image-wrap .image {
  display: block;
}

.slider-preview-list {
  margin-left: 62px;
  display: flex;
}

.slider-preview-item {
  display: flex;
}

.slider-preview-item:not(.slider-preview-item-current) {
  display: none;
}

.bg-image {
  width: 100px;
  margin-top: 204px;
}

.bg-image:first-child {
  margin-right: 41px;
}

.bg-image .image {
  display: block;
  margin: 0 auto;
}

.promo-pagination {
  position: absolute;
}

.slider-buttons-item {
  display: flex;
  position: absolute;
}

.promo-arrow {
  position: relative;
}

.promo-social {
  margin-left: auto;
}

.slider-buttons {
  display: flex;
}

.promo-button {
  width: 38px;
  height: 38px;
  margin-right: ;
}

.promo-pagination {
  display: flex;
  margin-right: auto;
  display: none;
  /* убрал временно - спозиционирую абсолютно */
}

.promo-pagination-item {
  margin-right: 8px;
}

.promo-pagination-button {
  width: 12px;
  height: 12px;
}

.social {
  width: 231px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 24px;
  height: 24px;
  background-color: white;
  margin-right: 16px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-list.social-item {
  margin-left: auto;
}

.button {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #FCFCFC;
  color: inherit;
}

.navigation-link, .phone, .footer-info a, .button, .contacts-content-phone {
  color: inherit;
  text-decoration: none;
}

.presents-title {
  width: 443px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 56px;
}

.presents-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.presents-item {
  display: flex;
  width: 570px;
}

.presents-item_raspberry {
  background-image: url("..//images/background/malin.png");
  background-repeat: no-repeat;
  background-position: 374px 28px;
}

.presents-item-wrap {
  padding: 40px 0 40px 40px;
  max-width: 321px;
}

.presents-item-wrap-marshmallows {
  max-width: 294px;
}

.presents-item_marshmallows {
  background-image: url("..//images/background/zefir.png");
  background-repeat: no-repeat;
  background-position: 331px 19px;
}

.presents-item {
  background-color: #FF7799;
  /* временный размер - убрать!!! */
  height: 268px;
}

.presents-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.presents-item-desc {
  margin: 0;
  margin-bottom: 32px;
}

.text-norm {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-start;
  padding-top: 3px;
}

.assortment-heading {
  max-width: 527px;
  margin: 0 auto 56px auto;
  text-align: center;
}



.assortment-list {
  display: flex;
  flex-wrap: wrap;
}

.assortment-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding-top: 51px;
}

.assortment-item:nth-child(4n) {
  margin-right: 0;
}

.assortment-item-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 133px 40px 24px 40px;
  position: relative;
  background-color: #FCFCFC;
}

.assortment-image {
  position: absolute;
  top: -51px;
  left: 39px;
}

.assortment-title {
  margin: 0 auto;
  align-content: stretch;
  margin-bottom: 8px;
  text-align: center;
}

.assortment-item p {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  align-content: stretch;
}

.assortment-item b {
  width: 150px;
}

.assortment-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  justify-self: end;
  align-self: end;
}
.assortment-catalog {
  margin-bottom: 9px;
}
.description {
  max-width: 1170px;
  background-color: tan;
  background-image: url("../images/background/fon-description.png");
  background-repeat: repeat;
  box-sizing: border-box;
  padding: 24px;
  margin-top: 39px;
}

.description-wrap {
  background-color: #FCFCFC;
  padding: 57px 40px 56px 40px;
}

.description-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 56px 0;
}

.description-item {
  display: flex;
  flex-wrap: wrap;
}

.description-list {
  display: flex;
  width: 505px;
}

.description-list:not(:nth-child(2n)) {
  margin-right: 30px;
}

.description-list:not(:nth-last-child(-n+2)):not(:last-child) {
  margin-bottom: 40px;
}

.description-image {
  margin-right: 15px;
}

.description-list p {
  margin: 0;
  width: 441px;
}

.news-mailing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -2px;
}

.news {
  flex-grow: 1;
  margin-right: 30px;
  background-color: white;
  background-image: url("../images/background/blog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.news p {
  margin: 32px 0 12px 32px;
  max-width: 220px;
}

.news-text {
  display: block;
  margin: 0 32px 63px 32px;
  max-width: 303px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.mailing {
  width: 570px;
  padding: 6px;
  background-color: gray;
  background-image: url("../images/background/mailing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.mailing-wrap {
  background-color: white;
  padding: 26px;
}

.mailing-desc {
  margin: 0;
}

.mailing-form {
  display: flex;
  margin-top: 42px;
}

.mailing-email {
  margin: 0 24px 0 0;
}

.field {
  width: 332px;
  height: 48px;
  padding-left: 16px;
  box-sizing: border-box;
}

.mailing-button, .form-delivery .button, .contacts-content .button {
  background-color: #FF2F63;
  color: #FCFCFC;
}

.delivery {
  background-color: rgb(207, 207, 207);
  background-image: url("../images/background/dost.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  margin-top: -5px;
}

.delivery-desc {
  margin: 167px auto auto 100px;
}

.delivery-title {
  max-width: 333px;
  margin: 0 0 24px 0;
}

.delivery-desc-text {
  width: 371px;
  margin: 0;
}

.delivery-content {
  width: 500px;
  height: 406px;
  background-color: white;
  margin: 64px 64px 64px auto;
  padding: 40px 40px 42px 40px;
  box-sizing: border-box;
}

.form-delivery label {
  line-height: 20px;
  font-weight: 700;
}

.contacts {
  padding: 64px;
  background-color: wheat;
  background-image: url("..//images/background/obr-sv.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* убрать высоту! */
  height: 492px;
}

.contacts-content {
  width: 343px;
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
}

.contacts-content p {
  font-size: 14px;
  line-height: 20px;
}

/* ---FOOTER--- */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 48px 0;
}

.footer-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  column-gap: 24px;
  padding: 0;
  margin: 0 200px;
}

.footer-info p {
  margin: 0;
  display: grid;
}

.footer-info a {
  font-size: 14px;
  line-height: 20px;
}

.footer-info .footer-info-suppliers {
  font-weight: 700;
}

.copyright {
  width: 207px;
}



.copyright a {
  color: inherit;
}

.copyright p {
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0 0;
}

/* ---CATALOG--- */

.main-container {
  flex-grow: 1;
}

.catalog {
  margin-top: 30px;
  margin-bottom: 40px;
}

.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.breadcrumbs-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.breadcrambs-item {
  margin-right: 28px;
}

.breadcrambs-link {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-filter {
  margin-bottom: 48px;
}

.catalog-filter-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-form {
  width: 807px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  height: 144px;
  /* вркменно указал height */
}

.catalog-form-group {
  font-size: 14px;
  line-height: 20px;
  background-color: #FEC7D5;
}

.catalog-form .button {
  font-weight: 700;
}

.pagination-wrap-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.pagination-wrap {
  display: flex;
  padding: 27px 0 42px 0;
}

.pagination {
  display: flex;
  margin-left: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 16px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  line-height: 20px;
}
